.about {
  padding: 70px 0;
}
.nav__breadcrumb {
  padding: 40px 0;
}
.nav__home {
  margin-right: 5px;
  color: #767676;
}

.nav__breadcrumb .nav__current {
  margin-left: 5px;
  color: #82e75a;
}
.about__inner {
  display: flex;
  justify-content: space-between;
}
.about__content {
  max-width: 550px;
}
.about__title {
  margin-bottom: 30px;
}
.about__img {
  max-width: 500px;
}
